.lable-id{
    // display: block;
    width: 20px;
    color: #fff;
    background-color: #e3362c;
    padding: 6px;
    
    border-radius: 5px;
    cursor: pointer;
    
 
    
}
.input-id{
    display: none;
   
}